body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: silver;
  overflow-x: hidden; 
}

header {
  background: royalblue;
  padding: 5px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 3em;
  color: white;
}

main {
  padding: 20px;
}

#My_career_journey {
  text-align: center;
}

#My_career_journey img.Lendsay_Nurse {
  width: 400px;
  height: 320px;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-top: 25px;
  margin-left: -0px;
}

#My_career_journey h1 {
  font-size: 18px;
}

#footer {
  background-color: #1e130c;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  
}

footer h2 {
  margin: 0;
  font-size: 1em;
  color: white;
}
