body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: silver;
  overflow-x: hidden; 
}

header {
  background: royalblue;
  padding: 5px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 3em;
  color: white;
}

#nav {
  position: absolute;
  right: 20px;
  top: 20px;
}

#nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.4s ease;
}

#nav a:hover {
  color: rgb(0, 229, 255);
}

main {
  padding: 20px;
}

#About_Me {
  text-align: center;
}

#About_Me img.Lendsay {
  width: 200px;
  height: 350px;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-top: 25px;
  margin-left: -0px;
}

#About_Me h1 {
  font-size: 18px;
}

#My_favorite_color {
  text-align: center;
  margin-top: 50px; 
}

#My_favorite_color img.My_favorite_color {
  width: 200px;
  height: 350px;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-top: 25px;
  margin-left: -0px;
}

#My_favorite_color h1 {
  font-size: 18px;
}

#footer {
  background-color: #1e130c;
  text-align: center;
  padding: 10px;
  position: relative;
  width: 100%;
  bottom: 0;
  
}

footer h2 {
  margin: 0;
  font-size: 1em;
  color: white;
}
