body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: white;
  overflow-x: hidden;
}

.container {
  max-width: 55%;
  margin: 1% auto;
  padding: 10px;
  background-color: black;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
}

.Diana_Wrapwap {
  background-color: skyblue;
  padding: 20px;
  color: black;
  border-radius: 10px; 
}

header {
  text-align: center;
  padding: 20px;
  background: skyblue;
  margin-bottom: 20px;
  border-radius: 10px 10px 0 0; 
}

header h1 {
  margin: 0px;
  font-size: 2em; 
  color: black;
}

main {
  padding: 20px;
  text-align: center;
}

#Diana img {
  width: 300px;
  height: 300px;
  border-radius: 25%;
  margin: 20px;
}

#Diana h1 {
  font-size: 25px;
  text-align: center;
}

footer {
  background-color: skyblue;
  text-align: center;
  padding: 1px;
  color: black;
  margin-top: 10px;
  border-radius: 0 0 10px 10px; 
}